.tv-body {
  background: rgb(10, 48, 94);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  background-attachment: fixed;
  color: azure;
  transition: 0.6s;
}
.tv-table > thead > th {
  border-top: #a7a7a7;
}
.tv-table {
  color: azure;
}
.tv-table > tbody {
  color: #e1eff1;
  font-size: 24px;
}
.tv-table > thead > tr > th {
  border-top: none;
  font-size: 25px;
}
tr:nth-child(even) {
  background-color: rgba(97, 120, 247, 0.466);
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  width: auto;
  display: block;
  float: none;
  position: relative;
}
.tablehead {
  background-color: rgba(15, 14, 14, 0.911);
}
.tablebody tr:nth-child(even) {
  background-color: rgba(237, 238, 243, 0.466);
}
.container h3 {
  font-size: 20px;
}

/*light theme*/
.tv-table-light {
  color: black;
  font-size: 24px;
}
.tablehead-light {
  background-color: rgba(10, 10, 10, 0.904);
  color: white;
}
.tv-body-light {
  background-color: rgba(95, 95, 163, 0.178);
  color: black;
  transition: 0.6s;
}
/*light theme*/
/* theme Switcher */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: rgb(29, 76, 133);
}
input:focus + .slider {
  box-shadow: 0 0 1px rgb(29, 76, 133);
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/* theme Switcher */
